{
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "rules": {
        // overrides
        "indent"                     : [ 2, 2, { "SwitchCase": 1 } ],
        "quotes"                     : [ 2, "single" ],

        //react
        "react/jsx-no-undef"            : 2,
        "react/jsx-uses-react"          : 2,
        "react/jsx-uses-vars"           : 2,
        "react/no-danger"               : 2,
        "react/no-deprecated"           : 2,
        "react/no-did-mount-set-state"  : [2, "allow-in-func"],
        "react/no-did-update-set-state" : [2, "allow-in-func"],
        "react/no-direct-mutation-state": 2,
        "react/no-is-mounted"           : 2,
        "react/react-in-jsx-scope"      : 2,
        

        "react/jsx-boolean-value"           : 2,
        "react/jsx-closing-bracket-location": 2,
        "react/jsx-curly-spacing"           : [2, "always"],
        "react/jsx-equals-spacing"          : 2,
        "react/jsx-handler-names"           : 2,
        "react/jsx-indent"                  : [2, 2],
        "react/jsx-indent-props"            : [2, 2],
        "react/jsx-key"                     : 2,
        "react/jsx-no-duplicate-props"      : 2,
        "react/jsx-pascal-case"             : 2,
        "react/jsx-sort-prop-types"         : 2,
        "react/jsx-sort-props"              : 2,
        // The following rule will be enabled in the next version of the plugin
        // "react/jsx-space-before-closing"    : [ 2, "never" ],
        "react/jsx-max-props-per-line"      : 2,
        "react/no-multi-comp"               : 2,
        "react/no-string-refs"              : 2,
        "react/no-unknown-property"         : 2,
        "react/prefer-es6-class"            : 2,
        "react/prop-types"                  : 2,
        "react/self-closing-comp"           : 2,
        "react/sort-comp"                   : 2,
        "react/wrap-multilines"             : 2
    }
}